$font-family-sans-serif: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$primary: #004485;
$accent2: #F48603;
$light-grey: #F7F7F7;

$header-height: 62px;
@import "./fonts.scss";
@import "bootstrap/scss/bootstrap.scss";

.color-orange {
  color: $accent2;
}

.pointable {
  cursor: pointer;
}

.navbar {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  &-brand {
    font-size: 1.125rem;
    line-height: 2.4rem;
    font-weight: 500;
  }
}

.modal-title,
.offcanvas-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

.toaster {
  z-index: 1200;
  position: fixed;
  right: 0;
  bottom: 0;
}

.toast-header {
  color: $black;

  strong {
    font-weight: 200;
  }
}

.toast-danger {
  border-color: #EDC4C8;

  .toast-header {
    background: #F3D8DB;
  }
}

.toast-info {
  border-color: lighten($primary, 20);

  .toast-header {
    background: lighten($primary, 60);
  }
}

.toast-success {
  border-color: #C0DACD;

  .toast-header {
    background: #D6E6DF;
  }
}

.offcanvas-wrapper {
  position: relative;
  z-index: 10;

  // transform: translate(-$grid-gutter-width/2, -$grid-gutter-width/2);
  .offcanvas-toggle {
    position: absolute;
    top: 1.5rem;
    left: -$grid-gutter-width;
    padding: 1rem;
    padding-left: calc($grid-gutter-width/2) + 1.5rem;
    border: 1px solid #CFD4D9;
    background: $light-grey;
    color: #858F97;
    font-size: 1.5rem;
    line-height: 1.5rem;
    transition: padding-left .2s ease-in-out;

    &:hover {
      padding-left: $grid-gutter-width + 1.5rem;
    }

    &-ref {
      position: static;
      font-size: 0.875rem;
      line-height: 0.875rem;
      padding: 0.375rem;
      padding-left: 0.875rem;

      &:hover {
        padding-left: 0.875rem;
      }
    }
  }

  .offcanvas-toggle-right {
    left:initial;
    right: -$grid-gutter-width;
    padding-left: 1rem;
    padding-right: calc($grid-gutter-width/2) + 1.5rem;
    transition: padding-right .2s ease-in-out;
    top: 0;
    &:hover {
      padding-left: 1rem;
      padding-right: $grid-gutter-width + 1.5rem;
    }

 }
  .manual-restricted-width {
    max-width: 712px;
    margin: auto;
  }

  .offcanvas,
  .offcanvas-backdrop {
    top: $header-height;
  }

  .offcanvas-header {
    border-bottom: 1px solid #CFD4D9;
  }
}

.alert-primary {
  @include alert-variant(#E0EBF6, #BDD4FA, $primary);
}

.accordion-button {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;

  &:not(.collapsed) {
    background-color: $light-grey;
  }
}

.step-circle {
  display: inline-block;
  background: $light-grey;
  border-radius: 50%;
  border: 1px solid #CFD4D9;
  height: 2rem;
  width: 2rem;
  text-align: center;
  line-height: 1.875rem;
  margin-right: 1rem;
}

.progress-stepper {
  padding: 24px 0;
  border-bottom: 1px solid #CFD4D9;
  background: $light-grey;
  color: #858F97;

  li {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 0.875rem;

    .step-circle {
      background: #858F97;
      color: $light-grey;
      font-size: 16px;
    }

    &.active a {
      color: #1A1A1A;
    }

    &.active,
    &.available {
      .step-circle {
        background: #004485;
      }
    }
  }
}

.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

.progress-footer {
  padding: 16px 0;
  border-top: 1px solid #CFD4D9;
  background: $light-grey;
}

.projects-list {
  list-style: none;

  .project-item {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #CFD4D9;
    margin-top: 5px;

    .form-check {
      pointer-events: none;
    }
  }
}

.btn-select-source {
  color: #858F97;
  background: #EAEBEF;
  border: 1px solid #CFD4D9;

}

.card-header,
.card-footer {
  background: white;
  padding: 16px;

  .card-title {
    margin: 0;
  }
}

.card-text {
  overflow-x: auto;
}

.main-page-content {
  padding-bottom: 120px;
  overflow-x: hidden;
}

.validate-page {
  .accordion-body {
    padding: 0;

    .card {
      border: none;
    }
  }

  .dataset-resources .accordion-body {
    padding: 15px 24px;

    .card {
      background: $light-grey;
      border: 1px solid #CFD4D9;

      .accordion-body {
        padding: 0;
      }

      .card-header {
        background: transparent;
        border-bottom: none;
      }

      .card-text {
        padding: 15px 24px;
      }
    }
  }

  .master-metadata-accordion {
    .accordion-button {
      background: $light-grey;

      &:not(.collapsed) {
        background: white;
      }
    }
  }

  .accordion-button:not(.collapsed) {
    color: #1A1A1A;
  }
}

.dataset-card {
  background: $light-grey;

  >.card-header,
  >.card-footer {
    background: transparent;
    border: none;
  }

  .card-subtitle {
    font-weight: 600;
    font-size: 1.125rem;
  }

  .card-header {
    font-size: 1.125rem;
    font-weight: 600;
    padding-bottom: 0;

    .btn-link {
      background: none;
      border: none;
      text-decoration: none;
      line-height: 0.75rem;
    }
  }
}

.badge {
  font-weight: 500;
}
